<!DOCTYPE html>
<html ng-app="meetapp">
<head>
	<title>MeetApp</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.css" />
	<link rel="stylesheet/less" type="text/css" href="style.less" />

	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui/build/angular-ui.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-touch/angular-touch.min.js"></script>

	<script type="text/javascript" src="bower_components/jquery/jquery.min.js"></script>

	<script type="text/javascript" src="js/less-1.4.1.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</head>
<body ng-controller="MeetApp"
	ui-keydown="{
		backspace: 'keynav.press(keynav.backspace, $event)',
		delete: 'keynav.press(keynav.delete, $event)',
	  up: 'keynav.press(keynav.up, $event)',
	  down: 'keynav.press(keynav.down, $event)',
	  left: 'keynav.left($event)',
	  right: 'keynav.right($event)',
	  tab: 'keynav.tab(1, $event)',
	  'shift-tab': 'keynav.tab(-1, $event)',
	  enter: keynav.enter
	}" 
	ng-swipe-left="keynav.right($event)"
	ng-swipe-right="keynav.left($event)">

	<!-- <div class="pane" id="input" ng-class="{current: currentPane == 'input'}">
		<div ng-style="midStyle()">
			
			<pre ng-style="instructionsStyle()">
Instructions

Enter names above.
Click a name to add it to the queue.
Click a name on the queue to remove it from the queue.
Click on the current speaker to move to the next person in the queue.

You may also use the following keys to navigate:
Tab &amp; right go to the next pane
Shift+tab &amp; left go to the previous pane
Up and down move along the list
Delete/backspace will remove an entry
Enter will add someone to the queue or move the queue forward
			</pre>
		</div>
	</div> -->

	<div class="pane" id="names" ng-class="{current: currentPane == 'names'}">
		<h1 id="label">Meet<span>App</span></h1>
		<input type="text" id="name" ng-model="name" placeholder="Enter a name"/>
		<div>
			<p ng-repeat="name in names"
				ng-class="{focus: currentPane == 'names' && $index == nav.names}"
				ng-click="enqueue(name)"
				ng-bind="name">
			</p>
		</div>
	</div>

	<div class="pane" id="queue" ng-class="{current: currentPane == 'queue'}">
		<div>
			<p ng-repeat="entry in queue"
				ng-class="{
					current: entry == current,
					old: $index < queue.indexOf(current),
					focus: currentPane == 'queue' && $index == nav.queue,
					overtime: overtime(entry)
				}"
				ng-click="dequeue($index)">
				{{entry.name}}
				<sub>{{displayTime(entry)}}</sub>
			</p>
		</div>
	</div>
</body>
</html>
