* { transition: all 0.2s; }

body {
	position: absolute;
	margin: 0px;
	top: 0px;
	bottom: 0px;
	width: 100%;
	font-size: 18px;
	h1 {
		font-size: 72px;
		line-height: 96px;
		font-weight: bold;
	}
}

p {
	// font-size: 20px;
	margin: 0px;
	padding: 5px;
}

// .focus, p:hover { background-color: #FA0; }

.pane:not(#input) hr { margin-bottom: 0px; }

.pane {
	@headerHeight: 256px;
	float: left;
	height: 100%;
	width: 50%;
	// text-align: center;
	position: relative;
	.header {
		// border-bottom: 1px solid #ccc;
		position: absolute;
		padding: 20px;
		padding-top: 40px;
		box-sizing: border-box;
		width: 100%;
		height: @headerHeight;
		background-color: rgba(255,255,255,0.4);
		text-align: center;
	}
	ul {
		overflow-y: scroll;
		position: absolute;
		bottom: 0px;
		top: @headerHeight;
		width: 100%;
		margin-left: 0px;
		// padding: 20px;
		list-style: none;
		box-sizing: border-box;
		li {
			height: 48px;
			padding: 0px 20px;
			line-height: 48px;
			border-bottom: 1px solid rgba(0,0,0,0.1);

			&.help {
				height: auto;
				margin: 20px;
				background-color: rgba(255,0,0,0.2);
				p {
					font-weight: 300;
				}
			}
		}
	}
	&#roster {
		background-color: #eee;
		z-index: 1;
	}
	&#queue {
		background-color: #e8e8e8;
		z-index: 0;
	}
	// &.current { width: 60%; }
	// &#input { background-color: #0FF; }
	// &#names { background-color: #0FA; }
	// &#queue { background-color: #0AF; }
}


#label span { font-weight: normal; }

#input div { position: relative; }

#queue {
	.current {
		// font-size: 50px;
		// line-height: 50px;
		// font-weight: bold;
	}
	.old { color: #999; }
	.overtime { color: #F00; }
	.old.overtime { color: #FFF; }
}
