body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em; }

ul {
  list-style: none;
  padding: 0px;
  margin: 0px; }

#app {
  height: 100%; }

.app-container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  height: 100%; }

.toolbar {
  height: 64px;
  background-color: #85144B;
  color: white;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  .toolbar .icon-button {
    color: white; }
  .toolbar .spacer {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.timer {
  text-align: center; }

.main {
  max-width: 640px;
  margin: 0px auto; }
  .main .queue .basic-list li:first-child {
    font-size: 36px; }

.roster {
  position: relative; }
  .roster .icon-button {
    color: #333; }
    .roster .icon-button:hover {
      background-color: rgba(0, 0, 0, 0.1); }
  .roster .search-section {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .roster .search-section input {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      box-flex: 1;
      -webkit-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
      height: 48px;
      line-height: 36px;
      font-size: 18px;
      outline: none;
      border: none;
      margin: 0px;
      padding: 8px;
      box-sizing: border-box;
      color: #333; }
      .roster .search-section input::-webkit-input-placeholder {
        color: #eee; }
      .roster .search-section input::-moz-placeholder {
        color: #eee; }
      .roster .search-section input:-moz-placeholder {
        color: #eee; }
      .roster .search-section input:-ms-input-placeholder {
        color: #eee; }

ul.basic-list {
  background-color: white; }
  ul.basic-list li {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    ul.basic-list li:hover {
      background-color: rgba(0, 0, 0, 0.05); }
    ul.basic-list li .entry {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      box-flex: 1;
      -webkit-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding: 4px 8px;
      display: block; }
    ul.basic-list li a.entry {
      cursor: pointer; }
    ul.basic-list li + li {
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
    ul.basic-list li.dragging {
      background-color: rgba(255, 255, 0, 0.1); }

.icon-button {
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 24px;
  padding: 8px;
  cursor: pointer;
  color: #333;
  box-sizing: border-box;
  border-radius: 50%; }
  .icon-button:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2); }

h1, h2, h3 {
  color: #000; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

a {
  text-decoration: none;
  color: #09f; }

a:hover {
  text-decoration: underline; }
